<% include ../partials/boilerplate%>
<%include ../partials/moment%>
<main>
	<h1><%=header%></h1>
	<div id="zenContainer">
		<%zens.forEach(function(zen){%>
		<a href="/zens/<%=zen.id%>">
			<div class="zen">
				<h3><%=zen.title%></h3>
				<p id="t<%=zen.id%>" class="timeStamp"><%=zen.time_stamp%></p>
				<p id="c<%=zen.id%>" class="zenContent"><%=zen.content%></p>
			</div>
		</a>
		<script>
			zenbinApp.zenFadeIndex(<%=zen.id%>);
		</script>
		<%})%>
	</div>
</main>
<% include ../partials/end%>