<% include ../partials/boilerplate%>
<main>
	<h1><%=header%></h1>
	<div id="zenContainer">
		<%zens.forEach(function(zen){%>
		<!-- <a href="/zens/<%=zen.id%>"> -->
			<div class="zen">
				<h3><%=zen.title%></h3>
				<p class="timeStamp"><%=zen.time_stamp%></p>
				<p class="zenContent"><%=zen.content%></p>
			</div>

		<%})%>
	</div>
</main>
<% include ../partials/end%>